body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-image: url(https://file.51pptmoban.com/d/file/2014/05/13/d12562dabc94ff6130521134133b5d3d.jpg);
}
.container{
    top: 0;
    padding: 5px;
    height: 50px;
}
.link-list-a {
    font-family: LXGW WenKai;
    color:inherit;
    font-weight: bold;
    font-size: 14px;
}
a[target] {
    background-color: #ccc;
}
a[onclick] {
    background-color: #999;
}
.link-list-a{
    background: rgba(255,255,255,1);
    display: block;
    position: relative;
    margin-bottom: 10px;
    text-align: center;
    line-height: 45px;
    border-radius: 2px;
    font-size: 14px;
    color: #6b7184;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease; /* Firefox 4 */
    -webkit-transition: all 0.3s ease; /* Safari 和 Chrome */
    -o-transition: all 0.3s ease; /* Opera */
    text-decoration: none;
}
.link-list-a:hover {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background: #6b7184;
    text-decoration: none;
}
.link-list-a::after{
    display: none;
    position: absolute;
    width: 100%;
    background: #3384a2;
    color: #FFF;
    border-radius: 2px;
    text-decoration: none;
}
button{
    font-family: LXGW WenKai;
    border: none;
    font-weight: bold;
    width: 80px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
}
button:hover {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background: #6b7184;
    text-decoration: none;
}
select{
    font-family: LXGW WenKai;
    border: none;
    font-weight: bold;
    width: 80px;
    height: 40px;
    margin: 5px;
    font-size: 15px;
    text-decoration: none;
}
.desktop-only {
    display: none;
}
.head_nav1 {
    display: none;
}
.head_nav2 {
    display: none;
}
@media screen and (min-width: 800px) {
    .head_nav2 {
        display: block;
    }
}
@media screen and (min-width: 1000px) {
    .head_nav1 {
        display: block;
    }
}
@media screen and (min-width: 1800px) {
    .desktop-only {
        display: block;
    }
}